<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>My Recipe</title>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap-lumen.css">
<!--    <link rel="stylesheet" type="text/css" href="assets/bootstrap.css"> -->
		<link rel="stylesheet" type="text/css" href="assets/index.css">
  </head>
  <body>
		<!-- navbar -->
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">My Recipe</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="menu-item"><a href="#">Search</a></li>
					<li class="menu-item"><a href="#">MyRecipe</a></li>
					<li class="menu-item"><a href="#contact-header">Info</a></li>
				</ul>
			</div>
		</nav>

		<!-- main content -->
		<div class="container">
			<!-- introduction -->
			<div class="jumbotron">
				<h1>오늘의 메뉴!</h1>
				<p>오늘은 뭐 해먹지? -ㅁ-;</p>
			</div>

		<!-- Search -->
		<div id="Search-header" class="page-header">
			<h1>재료 입력</h1>
		</div>
	
		<!-- Contact -->
		<div id="contact-header" class="page-header">
			<h1>Contact</h1>
		</div>
		<div class="row">
			<div class="col-md-2">
			</div>
			<div class="col-md-4">
				<h3>Contact me at:</h3>
			</div>
			<div class="col-md-4">
				<div class="list-group">
					<a href="#" class="list-group-item" target="_blank">chajs226@gmail.com</a>
					<a href="http://chajs226.tistory.com" class="list-group-item" target="_blank">http://chajs226.tistory.com</a>
				</div>
			</div>
			<div class="col-md-2">
			</div>
		</div>

</div>
  </body>
</html>
